# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment variables
.env

# Uploaded audio files
backend/uploads/

# Logs
backend/logs/

# Saved models
backend/saved_models/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Build
build/
dist/